---
# style formatter - Barr C Coding Standard
---
Language: Cpp
TabWidth: 4
IndentCaseLabels: true
IndentWidth: 4
ContinuationIndentWidth: 2
UseTab: Never
DeriveLineEnding: false
UseCRLF: false
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2
AlignAfterOpenBracket: Align
AlignOperands: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
AlignConsecutiveBitFields: true
AlignEscapedNewlines: Right
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
IndentWrappedFunctionNames: false
ColumnLimit: 120
PointerAlignment: Right
AlwaysBreakBeforeMultilineStrings: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '<[[:alnum:].]+>'
    Priority:        1
  - Regex:           '.*'
    Priority:        2
MaxEmptyLinesToKeep: 1
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
AllowShortBlocksOnASingleLine: true
BinPackArguments: false
IndentCaseBlocks: true
AllowShortCaseLabelsOnASingleLine: false
ReflowComments: true
PenaltyReturnTypeOnItsOwnLine: 200